{% extends "auctions/layout.html" %}

{% block title %}Create Listing &middot Auctions{% endblock %}
{% block nav_item_create %}active{% endblock nav_item_create %}

{% block body %}
    {% if user.is_authenticated %}
    <div class="container-fluid">
        <div class="row border create-margins">
            <div class="col  create-col-main">
                <h2>Create Listing</h2>
                <form action="{% url 'create' %}" method="POST">
                    {% csrf_token %} 
                    <!-- title -->
                    <div>
                        <label>Title:</label>
                        <input type="text" name="title" placeholder="Title Here" required>
                    </div>
                    <!-- description field -->
                    <div>
                        <label>Description:</label>
                        <div><textarea class="create-description" name="description" cols="30" rows="10" placeholder="Description Here" required></textarea></div>
                    </div>
                    <!-- bid field -->
                    <div>
                        <label>Starting Bid: $</label>
                        <input name="starting_bid" type="number" min="0" step="0.01" placeholder="0.00" required>
                    </div>
                    <hr>
                    <label>(Optional)</label>
                    <!-- category field  -->
                    <div>
                        <label>Category: </label>
                        <select name="category">
                            {% for category in categories %}
                                <option value="{{ category.name }}">{{ category }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <!-- image field -->
                    <div>
                        <label>Image:</label>
                        <input name="image" type="url"  placeholder="https://example.com" pattern="https://.*" size="30" required>
                    </div>
                    <div class="text-center">
                        <input class="create-submit-button btn btn-dark" type="submit" value="Post"></input>
                    </div>
                </form>

            </div>
        </div>
    </div>
    {% else %}
    Sign in to create a Listing!.
    {% endif %}
{% endblock %}