{% extends "auctions/layout.html" %}

{% block body %}

    <h2>Active Listings</h2>
        {% for listing in listings %}
            <hr class="solid">
            <h4 class="listing_title"><a href="{% url 'listing' listing.title %}">{{ listing.title }}</a></h4>
            <div class="listing_categories">Categories: {% for category in listing.categories.all %}{{ category }} {% endfor %} </div>
            <div class="listing_description">{{ listing.description }}</div>
            <img class="listing_image" src="{{ listing.image }}" alt="{{ listing.title }} image">
            <div class="listing_current_bid">$ {{ listing.current_bid }}</div>
        {% endfor %}
    
{% endblock %}