{% extends "auctions/layout.html" %}
{% load humanize %}

{% block title %}Auctions{% endblock %}
{% block nav_item_listings %}active{% endblock nav_item_listings %}

{% block body %}
        <div class="container-fluid">
            <div class="row">
                {% for listing in listings %}
                <div class="col-md-4 col-sm-6 border col-listing">
                    <h3><a class="listing_title" href="{% url 'listing' listing.title %}">{{ listing.title }}</a></h3>
                    <div class="listing_description ">{{ listing.description }}</div>
                    <img class="listing_image " src="{{ listing.image }}" alt="{{ listing.title }} image">
                    <div class="listing_current_bid">
                        {% for bid in current_bids %}
                            {% if bid.listing == listing %}
                                $ {{ bid.value|intcomma }}
                            {% endif %}
                        {% endfor %}
                    </div>
                </div>
                {% endfor %}
            </div>

        </div>

{% endblock %}