{% extends "auctions/layout.html" %}

{% block body %}
    {% if user.is_authenticated %}
        <!-- listing section -->
        <h4 class="listing_title">{{ listing.title }}</h4>
        <div class="listing_categories">Categories: {% for category in listing.categories.all %}{{ category }} {% endfor %} </div>
        <div class="listing_description">{{ listing.description }}</div>
        <img class="listing_image" src="{{ listing.image }}" alt="{{ listing.title }} image">
        <!-- watchlist section -->
        <div>
            Elements in watch list of the user:
            [
            {% for listing in watchlist %}
                "{{ listing }}"
            {% endfor %}
            ]
        </div>
        <div>
            Variable found is {{ found}}
        </div>
        <div>
            Variable title is {{title}}
        </div>
        {% if found == 'True' %}
            <form action="{% url 'listing' listing.title %}" method="POST">
                {% csrf_token %} 
                <input type="submit" name="action" value="Delete from Watchlist">
            </form>
        {% elif found == 'False' %}
            <form action="{% url 'listing' listing.title %}" method="POST">
                {% csrf_token %} 
                <input type="submit" name="action" value="Add to Watchlist">
            </form>
        {% endif %}
        <!-- bid section -->
        <div class="listing_highest_bid">$ {{ listing.highest_bid }}</div>
        <form action="{% url 'listing' listing.title %}" method="POST">
            <label>Place a Bid:</label>
            {% csrf_token %}
            <input name="bid" type="number" min="{{ bid_limit }}" step="0.01">
            <input type="submit" name="action" value="Bid">
        </form>
        <hr class="solid">
        <!-- comment section -->
        <h6>Comments:</h6>
        {% for comment in comments %}
            {% if comment.active == True %}
                <div>{{ comment.user }} @ {{ comment.date }}</div>
                <div>{{ comment.body }}</div>
            {% endif %}
        {% endfor %}
        <!-- add comment section  -->
        <form action="{% url 'listing' listing.title %}" method="POST">
            {% csrf_token %} 
            <div>{{ user.username }} @ {{ datetime }}  </div>
            <input type="text" name="body" placeholder="Add a public comment">
            <input type="submit" name="action" value="Comment">
        </form>
    {% else %}
    Sign in to see Listings.
    {% endif %}
    
{% endblock %}