{% extends "auctions/layout.html" %}

{% block title %}My Listings &middot Auctions{% endblock %}
{% block nav_item_myListings %}active{% endblock nav_item_myListings %}

{% block body %}
    {% if user.is_authenticated %}
        <h4> My Posted Listings :</h4>
        {% for listing in listings %}
           <div>
                <h4 class="listing_title"><a href="{% url 'listing' listing %}">{{ listing }}</a></h4>
            </div>
        {% empty %}
            <h6>No Listings Yet</h6>
        {% endfor %} 
    {% endif %} 
{% endblock %}