{% extends "auctions/layout.html" %}

{% block title %}My Watchlist &middot Auctions{% endblock %}
{% block nav_item_watchlist %}active{% endblock nav_item_watchlist %}

{% block body %}
    {% if user.is_authenticated %}
        <h4> My Watchlist :</h4>
        {% for listing in watchlist %}
           <div>
                <h4 class="listing_title"><a href="{% url 'listing' listing %}">{{ listing }}</a></h4>
            </div> 
        {% empty %}
            <h6>No Listings Yet</h6>
        {% endfor %} 
    {% endif %} 
{% endblock %}